<!DOCTYPE html>
<html>
  <head>
    <title>Add New Auction Item</title>
  </head>
  <body>
    <h1>Add New Auction Item</h1>
    <form method="post" action="{{ url_for('add') }}" enctype="multipart/form-data">
      <label for="user_id">User:</label>
      <select name="user_id" id="user_id">
        {% for user in users %}
        <option value="{{ user[0] }}">{{ user[1] }}</option>
        {% endfor %}
      </select><br><br>
      <label for="description">Description:</label>
      <input type="text" name="description" id="description"><br><br>
      <label for="image">Image:</label>
      <input type="file" name="image" id="image"><br><br>
      <input type="submit" value="Add Item">
    </form>
  </body>
</html>
