
img {
    display: block;
    max-width: 100%;
}

h2 {
    font-size: 2.8rem !important;
    font-weight: 700;
}


a,
button {
    cursor: pointer;
}

.jumbotron {
    margin-bottom: 0 !important;
}

.atlas-cta {
    border-radius: 22px !important;
    padding: 12px 30px !important;
    font-weight: 700;
    transition: .3s ease-in-out !important;
}

.atlas-cta:hover {
    text-decoration: none;
    transform: translateY(-5px);
}

.atlas-cta-wide {
    width: 100%;
}

.cta-green {
    background: #0055ff;
    color: #192440;
}

.cta-green:hover {
    color: #ffffff;
    background: #e6db00;
}
